body{
	background-color: #333333;
	color: #66C285;
}

.btn-green{
	background-color: #006B24;
	color: white;
	font-weight: 100;

}

h2{
	font-size: 200%;
	font-weight: 100;

}

.title{
	margin-top: 15%;
}

.inner-title{
	text-align: center;
	margin: 0 auto;
}